doctype html
html
	head
		title /\/\

		link(rel="stylesheet", type="text/css", href="/assets/vendor/jquery/jquery.min.js")
		link(rel="stylesheet", type="text/css", href="/assets/vendor/lodash/dist/lodash.min.js")
		link(rel="stylesheet", type="text/css", href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css")
		//- link(rel="stylesheet", type="text/css", href="/assets/vendor/jquery/jquery.min.js")

		script(type="text/javascript", src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js")
	body
		block content
